<h1 class="titleProducts">⭐ - Nuestros Productos</h1>
<p>Bienvenido/a {{user.first_name}} {{user.last_name}}! Rol: {{user.rol}}</p>
<a href="/api/sessions/logout">Cerrar Sesion</a>
<div class="divFlex">
    {{#each products}}
    <div class="divMain">
        <p class="divTitle"> {{this.title}} </p>
        <p class="divDescription"> {{this.description}} </p>
        <p class="divPrice"> ${{this.price}} </p>
        <div class="flexBtn">
            <button class="divBtn">Agregar</button>
        </div>
    </div>
    {{/each}}
</div>

<div class="prevAndNext">
    {{#if hasPrevPage}}
    <a class="antStyle" href="/products?page={{prevPage}}"> ⬅ Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a class="sigStyle" href="/products?page={{nextPage}}">Siguiente ➡</a>
    {{/if}}
</div>


<p class="currentPageStyle">Estas en la pagina {{currentPage}} de {{totalPages}}</p>